<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.ErasureCode.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload1</servlet-name>
        <servlet-class>com.ErasureCode.FileUpload1</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationForm</servlet-name>
        <servlet-class>com.ErasureCode.UserRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload2</servlet-name>
        <servlet-class>com.ErasureCode.FileUpload2</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>DownLoadLoginform</servlet-name>
        <servlet-class>com.ErasureCode.DownLoadLoginform</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownLoad</servlet-name>
        <servlet-class>com.ErasureCode.FileDownLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.ErasureCode.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/go</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload1</servlet-name>
        <url-pattern>/FileUpload1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationForm</servlet-name>
        <url-pattern>/UserRegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload2</servlet-name>
        <url-pattern>/FileUpload2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadLoginform</servlet-name>
        <url-pattern>/DownLoadLoginform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownLoad</servlet-name>
        <url-pattern>/FileDownLoad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
